<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form action="/chats/new" method="get">
        <button type="submit">New chat</button><br><br>
    </form>
    <% for(let chat of chats){ %>
        <div class="chats">
            <span class="from">From: <%= chat.from %></span><br>
            <p>Message: <%= chat.message %>&nbsp;&nbsp;<form action="/chats/<%= chat._id %>/edit " method="get"> <button type="submit">Edit</button> </form>
            &nbsp;&nbsp;<form id="delete"  action="/chats/<%= chat._id %>?_method=DELETE" method="post"><button type="submit">Delete Message</button></form></p>
            <p>Date: <%= chat.date.toString().split(" ")[4] %></p>
            <p>Time: <%= chat.date.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
        <hr>
 <%  } %>
</body>
<script src="app.js"></script>
</html>
