<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <h1>Edit Listing</h1>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
        <label for="title" class="form-label">Add a catchy title</label>
        <input type="text" name="Listing[title]" value="<%= listing.title %>" required class="form-control"> <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please Add Title!
          </div><br> </div>
        <div class="mb-3">
            <label for="description" class="form-label">Enter Description</label>
            <textarea type="text" name="Listing[description]" required class="form-control"><%= listing.description %></textarea>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please Add Description!
              </div><br> </div>
            <div class="mb-3">
                <label for="image" class="form-label">Enter Image URL</label>
                <input type="text" name="Listing[image]" value="<%= listing.image %>" required class="form-control">
                <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please provide valid URL
                  </div><br> </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Enter Price</label>
                        <input required type="number" name="Listing[price]" value="<%= listing.price %>" class="form-control">
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                          <div class="invalid-feedback">
                            Please Enter Price!
                          </div><br> </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Enter Location</label>
                            <input required type="text" name="Listing[location]" value="<%= listing.location %>"class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                              <div class="invalid-feedback">
                                Please Enter Location!
                              </div><br> </div>
                </div>
               
                        <div class="mb-3">
                            <label for="country" class="form-label">Enter Country</label>
                            <input required type="text" name="Listing[country]" value="<%= listing.country%>"class="form-control">
                            <div class="valid-feedback">
                                Looks good!
                              </div>
                              <div class="invalid-feedback">
                                Please Enter Country!
                              </div><br> </div>
        <button type="submit" class="btn btn-dark add-btn">Edit List</button>
    <br><br>
    </form>
</div>
</div>
</body>
</html>