<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= listing.title %> </title>
</head>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    
    <h1><%= listing.title %></h1></div>
    <div class="card col-6 offset-2 mb-3">
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="Listing Image">
        <div class="card-body">
          <p class="card-text">Owned by 
            <i> <%= listing.owner.username  %> </i><br></p>
            <p class="card-text">
            <ul>
                <li><b><%= listing.title %></b></li>
                <li>  <b><%= listing.description %></b> </li>
                <li> <b> &#8377;<%= listing.price %></b> </li>
                <li> <b> <%= listing.location %></b> </li>
                <li> <b> <%= listing.country %></b> </li>
            </ul></p>
        </div>
      </div><br>

      <% if(currentUser && listing.owner._id.equals(currentUser)){ %>
</div><br>
<div class="btns offset-2">
<a href="/listings/<%= listing._id%>/edit" ><button class="btn btn-dark ">Edit This listing</button></a>
<form action="/listings/<%= listing._id %>?_method=DELETE" method="post"><button class="btn btn-dark" type="submit">Delete This Listing</button></form>
</div>
<% } %>
<br><br><hr><br>
<% if(currentUser){ %>
<div class="col-8 offset-2 mb-3 mt-3">
    <h2>Leave a Review</h2>
    <form action="/listings/<%=listing._id %>/reviews" method="post" class="needs-validation form-label" novalidate>
  <fieldset class="starability-slot">
    <legend>First rating:</legend>
    <input type="radio" id="no-rate" class="input-no-rate" name="reviews[rating]" value="0" checked aria-label="No rating." />
    <input type="radio" id="second-rate1" name="reviews[rating]" value="1" />
    <label for="second-rate1" title="Terrible">1 star</label>
    <input type="radio" id="second-rate2" name="reviews[rating]" value="2" />
    <label for="second-rate2" title="Not good">2 stars</label>
    <input type="radio" id="second-rate3" name="reviews[rating]" value="3" />
    <label for="second-rate3" title="Average">3 stars</label>
    <input type="radio" id="second-rate4" name="reviews[rating]" value="4" />
    <label for="second-rate4" title="Very good">4 stars</label>
    <input type="radio" id="second-rate5" name="reviews[rating]" value="5" />
    <label for="second-rate5" title="Amazing">5 stars</label>
  </fieldset>
        <label for="comment" >Comment</label>
            <textarea name="reviews[Comment]" id="comment" cols="30", rows="10" class="form-control" required></textarea><br>
            
            <button class="btn btn-outline-dark " type="submit">Submit</button>
    </form>
    <br><hr><br>
    <% } %>
    <h2>All Reviews</h2><br>
    <div class="row">
        <% for (let rev of listing.reviews) { %> 
            <div class="card col-5 ms-3 mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= rev.author.username %> </h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= rev.createdAt.toLocaleString('default', { month: 'short' }) %> <%= rev.createdAt.getFullYear()%> </h6>
                  <p class="starability-result card-text" data-rating="<%= rev.rating %>"> Rated: 3 stars</p>
                  <p class="card-text"><%= rev.Comment %></p>
                  <form action="/listings/<%= listing._id%>/reviews/<%=rev._id%>?_method=DELETE" method="post" >
                    <button class="btn btn-sm btn-dark">Delete</button>
                  </form>
                </div>
              </div>
        <% } %> 
    
</div>
</div>
 
<p></p>
</body>
</html>