<% layout("/layouts/boilerplate") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= listing.title %> </title>
</head>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    
    <h1><%= listing.title %></h1></div>
    <div class="card col-6 offset-2 mb-3">
        <img src="<%=listing.image%>" class="card-img-top show-img" alt="Listing Image">
        <div class="card-body">
          <p class="card-text">Owned by 
            <i> <%= listing.owner.username  %> </i><br></p>
            <p class="card-text">
            <ul>
                <li><b><%= listing.title %></b></li>
                <li>  <b><%= listing.description %></b> </li>
                <li> <b> &#8377;<%= listing.price %></b> </li>
                <li> <b> <%= listing.location %></b> </li>
                <li> <b> <%= listing.country %></b> </li>
            </ul></p>
        </div>
      </div><br>

      <% if(currentUser && listing.owner._id.equals(currentUser)){ %>
</div><br>
<div class="btns offset-2">
<a href="/listings/<%= listing._id%>/edit" ><button class="btn btn-dark ">Edit This listing</button></a>
<form action="/listings/<%= listing._id %>?_method=DELETE" method="post"><button class="btn btn-dark" type="submit">Delete This Listing</button></form>
</div>
<% } %>
<br><br><hr><br>
<% if(currentUser){ %>
<div class="col-8 offset-2 mb-3">
    <h2>Leave a Review</h2>
    <form action="/listings/<%=listing._id %>/reviews" method="post" class="needs-validation form-label" novalidate>
        <div>
            <label for="rating">Rating</label>
            <input type="range" min="1" max="5" step="0.1" id="rating", name="reviews[rating]" class="form-range" required>
      
        </div>
        <label for="comment" >Comment</label>
            <textarea name="reviews[Comment]" id="comment" cols="30", rows="10" class="form-control" required></textarea><br>
            
            <button class="btn btn-outline-dark " type="submit">Submit</button>
    </form>
    <br><hr><br>
    <% } %>
    <h2>All Reviews</h2><br>
    <div class="row">
        <% for (let rev of listing.reviews) { %> 
            <div class="card col-5 ms-3 mb-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= rev.author.username %> </h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= rev.createdAt.toLocaleString('default', { month: 'short' }) %> <%= rev.createdAt.getFullYear()%> </h6>
                  <p class="card-text"><%= rev.Comment %></p>
                  <p><strong>Ratings: <%= rev.rating %>stars</strong></p>
                  <form action="/listings/<%= listing._id%>/reviews/<%=rev._id%>?_method=DELETE" method="post" >
                    <button class="btn btn-sm btn-dark">Delete</button>
                  </form>
                </div>
              </div>
        <% } %> 
    
</div>
</div>
 
<p></p>
</body>
</html>