<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %></title>
    <link rel="stylesheet" href="/style.css" />
<body>
    <!-- <h2>This Page Belongs to <a href="https://instagram.com/prajwal_dalawai" target="_blank">@</a></h2> -->
    <h2>This page belongs to @<%= data.name %></h2>
    <button onclick="displaymsg();">Follow</button>
    <button onclick="display();">Message</button><br><br>
    <p>followers:<%= data.followers %> </p>
    <p>following: <%= data.following %></p>
    <h2 style="text-decoration: underline;">Accounts that Follow You.</h2>
    <ul>
        <% for(let user of followers){ %>
            <li><%= user %></li>
        <%  } %>
    </ul>
    <hr>

    <% for(let post of data.posts){ %>
           <img src="<%= post.image %>" alt="some image" height="300px
           " width="300px">
           <p> likes: <%=  post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments; <%= post.comments %> </p>
        <% } %>

    <span id="dis"></span>
    <script type="text/javascript">
        function displaymsg(){
            let dis = document.querySelector('#dis');
            dis.innerHTML = "<h1> Now You have followed <%= username%>...";
        }
        function display(){
            let dis = document.querySelector('#dis');
            dis.innerHTML = "<h1> You are now chatting with <%= username%>..."; 
        }
    </script>
</body>
</html>